<!DOCTYPE html>
<html lang="fr">
<head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IFRI MentorLink</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bese.css') }}">
   
</head>
<body>
    <nav>
        <a href="/">Accueil</a>
        <a href="/connexion">Connexion</a>
        <a href="/inscription">Inscription</a>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>